[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
autopep8 = "*"
black = "*"
pytest = "*"
coverage = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
